section.tło { 
    background-color: #faebd6;
    margin-right: 350px;
    height: 200px;
}
h1.nagłowek {
    color: #f00;
 }
 p.paragraf1 { 
    color:  #a42423;
 }
 p.paragraf2 {
    color: #00008f;

 }
