
p.par1 {
    background-color: red;
    width: 100px;
    height: 100px;

}
p.par2 {
    background-color: red;
    width: 100px;
    height: 100px;    
}
p.par3 {
    background-color: red;
    width: 100px;
    height: 100px;

}
p.par4 {
    background-color: red;
    width: 100px;
    height: 100px;

}
p.par5 {
    background-color: blue;
    width: 100px;
    height: 100px;
    opacity: 0.5;

}
p.par6 {
    background-color: red;
    width: 100px;
    height: 100px;

}
p.par7 {
    background-color: blue;
    width: 100px;
    height: 100px;

}
p.par8 { 
    background-color: red;
    width: 100px;
    height: 100px;
    opacity: 0.5;

}
p.par9 {
    background-color: blue;
    width: 100px;
    height: 100px;

}
p.par10 { 
    background-color: red;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    

}
